/* h1 {
    color: blue;
} */

.home-content {
    grid-area: content;
    color: #333;
    text-align: center;
    height: 100%;
    background-color: antiquewhite;
}

.adding-items {
    display: flex; 
    width: 20rem;
    border: 1px black solid;
    flex-wrap: wrap;
    text-align: start;
    margin: 10px;
}